.cartBlock {
    display: block;
    padding: 16px;
    border-radius: 10px;
    background: #fff;
    margin-bottom: 16px;

    .cartItem {
        display: flex;
        justify-content: space-between;
        padding-bottom: 12px;
        margin-bottom: 12px;
        border-bottom: 1px solid rgba(52, 56, 51, 0.1);
        gap: 10px;

        &:last-child {
            padding-bottom: 0;
            border: none;
            margin-bottom: 0;
        }

        h4 {
            font-size: 14px;

            span {
                font-size: 12px;
                color: #999;    
            }
        }

        p {
            font-size: 12px;
            color: #999;
        }
    }
}
.bottomButton {
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
}