.catMenu {
    position: fixed;
    z-index: 9;
    top: 56px;
}
.outletBanner {
    display: block;
    aspect-ratio: 16/10;
    position: relative;
}
.outletName {
    padding: 10px 24px;
    text-align: center;
    color: #000;
    font-size: 20px;
    font-weight: 600;
}
.textarea {
    background: #f6f6f7;
    text-align: left;
    padding: 12px 20px;
    height: 54px;
    width: 100%;
    color: #000;

    &:focus {
        outline: none;
    }
}
.outletAds {
    display: flex;
    background: var(--color-primary);
    padding: 10px;
    border-radius: 10px;
    width: calc(100% - 32px);
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    .signInBtn {
        display: inline-block;
        padding: 6px 12px;
        border-radius: 8px;
        background: #fff;
        font-weight: 600;
    }
    h5 {
        color: #fff;
        margin-bottom: 6px;
        font-weight: 600;
        font-size: 16px;
    }
}
.itemCard {
    display: flex;
    align-items: center;
    gap: 16px;
    width: 100%;

    figure {
        width: 100px;
        flex: 0 0 auto;
        aspect-ratio: 1/1;
        border-radius: 10px;
        position: relative;

        img {
            border-radius: 10px;
            object-fit: cover;
        }
    }

    .itemContent {
        flex: 1;
    }

    h3 {
        font-size: 18px;
        color: #333;
        margin: 0 0 6px;
    }
    p {
        color: #828282;
        font-size: 16px;
        margin: 0 0 6px;
        line-height: 20px;

        &.price {
            color: #000;
            font-weight: 500;
            margin: 0;
        }
    }
    .addButton {
        display: flex;
        max-width: 32px;
        flex: 0 0 32px;
        background: #fff;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        height: 32px;
        border: 1px solid rgba(52, 56, 51, 0.1);
    }
}
.mixerButton {
    background: #E5E5E5;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: center;
}
.bottomButton {
    position: sticky;
    bottom: 0;
    padding: 16px;

    button {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px 16px;
    }
}